{% extends "gestionnaire/base.html" %}

{% block content %}


<div class="card clientDetail">
  <div class="card-body">
    <h5 class="card-title">{{quotation.ref}}</h5>
    <p class="card-text"><a href="#" id="client">{{quotation.client}}</a></p>
    <p class="card-text">{{quotation.create_date}}</p>
    <p class="card-text"><a href="#" data-type="select" id="statut">{{quotation.statut}}</a></p>
    <table>
            <tr>
                <th>Nom produit</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        {% for product in lineDetail  %}
            <tr>
                <td><a href="#" id="product">{{product.product}}</a></td>
                <td class="totalProduct"><a href="#" id="quantity">{{product.quantity}}</a></td>
                <td class="multiply"> {{product.multiply}} € </td>
            </tr>
        {% endfor %}
            <tr>
                <td>TOTAL</td>
                <td id="totalProd"></td>
                <td id="total"></td>
            </tr>
    </table>
  </div>
</div>

{% endblock %}
